[submodule "Submodules/RNCryptor"]
	path = Submodules/RNCryptor
	url = https://github.com/Sage-Bionetworks/RNCryptor.git
[submodule "Submodules/ZipZap"]
	path = Submodules/ZipZap
	url = https://github.com/Sage-Bionetworks/ZipZap.git
