language: objective-c
osx_image: xcode8.2
before_install:
  - brew update
install:
  - ./travis/install-fastlane.sh
  - ./travis/install-mogenerator.sh
  - ./travis/install-appledoc.sh
  - export PATH="$HOME/bin:$HOME/.fastlane/bin:$PATH"
script:
  - ./travis/run-tests.sh
  - ./travis/build-docs.sh
deploy:
  provider: s3
  access_key_id: AKIAICA2M6XGX62Q4NTQ
  secret_access_key:
    secure: KkdUcM+2ChVUj7B39WMfjEyx9T7N9iTInB6MGy00A8yv4LH1o74LVgMy7RiZ8hAceaxruAP/r/LD6lHxjBtJUHc/PairO+0Gm8nHg4r5LDbF6dnUgEsgtXa+j/XL4IfFuX88bvjYYEnkhMqvDYv1RsGw/CHdAoJ6T0qPo4Sod6+zOgysYduxjBpbPcvPqcyK3gj4NUd2LqbIzcJ2pE2C3KNMPFqkyPYIYsXgcYC6zMhDYzAnekqAe8OISEpxmC5hp/kT2qxFonOAKMqK3DbytMd6ly7NPJzxU2FN7hfAwLCfTlkR4HVd0pEDTxjpDahwdJSU8kuj3V920DgCq5O3l4FL3XxSOsQOFwBQPn/VCemyQ2vkIqfcXb/gSyE9VMgP2O8ADZVL6C4ZVIZZvHgVtaptqh6bsUZnEhr5n64cX2uiyos+72QjPLreeIA48E6dZvk2C6bjpqVO1PYHzFU/geO5ojnULzIeK2bMTRwUBCZLrmHn5pFTqwwGbCfESJBknGjrB6jyYbdnKEJbtOz7BrGWMi2pmnYZZDbk7FVdYH5bi4wYFvRacEqlFAs5b2au7qNtElANaNCCrxLVUtKkKguosurA1LlrSMYcIsCNuFJ7Nu5sJqyxtKBMiDJs99rdb62rw6iczn1/0GgJI7RL0S/vG19WahiqfNmswblIQ3A=
  bucket: ios-apps.sagebridge.org
  skip_cleanup: true
  local_dir: Documentation/html
  upload-dir: org.sagebase.BridgeSDK/Documentation/html/latest
  on:
    branch: master
