<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>studies</key>
	<dict>
		<key>my-integration-test-study</key>
		<dict>
			<key>email</key>
			<string>my-admin-account-email@email.tld</string>
			<key>password</key>
			<string>my-admin-account-password</string>
		</dict>
	</dict>
</dict>
</plist>
