<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>org.sagebase.BridgeSDK</string>
	<key>CFBundleName</key>
	<string>BridgeSDK Documentation</string>
	<key>CFBundleShortVersionString</key>
	<string>16</string>
	<key>CFBundleVersion</key>
	<string>16</string>
	
	
	
	<key>DocSetFallbackURL</key>
	<string>https://developer.sagebridge.org/Sage Bionetworks</string>
	<key>DocSetFeedName</key>
	<string>BridgeSDK Documentation</string>
	<key>DocSetFeedURL</key>
	<string>https://developer.sagebridge.org/Sage Bionetworks/Sage Bionetworks.atom</string>
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	<key>DocSetPlatformFamily</key>
	<string>iphoneos</string>
	<key>DashDocSetFamily</key>
	<string>appledoc</string>
	<key>DocSetPublisherIdentifier</key>
	<string>org.sagebase.documentation</string>
	<key>DocSetPublisherName</key>
	<string>Sage Bionetworks</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Sage Bionetworks. All rights reserved.</string>
</dict>
</plist>
