<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppStoreFrameworkBuilder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>BridgeObjects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BridgeSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BridgeSDKTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>FrameworkBuilder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RNCryptor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>TestBridgeObjects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60FF57211A0AFC5500CE2373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>804545761A1E7224001D41D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>804545811A1E781D001D41D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80855F4F19BE258C006601C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80855F5A19BE258C006601C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80E09AD019F8493100EB5F0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80F7C32419E5BAD600574800</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80F7C32819E5BB1000574800</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F50981C91AA57B1E002E2264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F52619FB19D9F73400B48C90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
